<footer class="container" style="margin-top: 100px;">
  <p class="text-center"> copyright 2018 rails301
    <br> design by
      <a href="http://courses.growthschool.com/courses/rails-101/" target=_new>xdite</a>
    </p>
  </footer>
  <!-- 以上部分，不需要记忆 -->
